@import "colors";
@import "fonts";

$breakpoint: "1200px";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $veryDarkBlue;
  font-size: 16px;
}

.card {
  border-radius: 6px;
  overflow: hidden;
  width: 20.5rem;
  margin: 5.5625rem auto;
  color: antiquewhite;

  @media screen and (min-width: $breakpoint) {
    width: 69.375rem;
    height: 29.125rem;
    display: flex;
    flex-direction: row-reverse;
  }

  .headerImage {
    width: 100%;
    height: 241px;
    position: relative;

    @media screen and (min-width: $breakpoint) {
      width: 33.75rem;
      height: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: $softViolet;
      height: 100%;
      width: 100%;
      opacity: 50%;
    }

    img {
      content: url("../images/image-header-mobile.jpg");
      width: 100%;

      @media screen and (min-width: $breakpoint) {
        content: url("../images/image-header-desktop.jpg");
        width: 540px;
        height: 466px;
      }
    }
  }

  .details {
    background-color: $darkDesaturatedBlue;
    padding: 2.75rem 2.25rem 0 2.25rem;
    text-align: center;

    @media screen and (min-width: $breakpoint) {
      padding: 4.625rem 7.625rem 4rem 4.625rem;
      text-align: left;
    }

    h1 {
      color: $white;
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;

      @media screen and (min-width: $breakpoint) {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 2.375rem;
      }

      .headerSpan {
        color: $softViolet;
      }
    }

    p {
      color: $slightlyTransparentWhiteMain;
      font-family: "Lexend Deca", sans-serif;
      font-size: 0.75rem;
      line-height: 1.3rem;
      margin-bottom: 3rem;

      @media screen and (min-width: $breakpoint) {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 5.125rem;
      }
    }

    .detailStats {
      @media screen and (min-width: $breakpoint) {
        display: flex;
        justify-content: space-between;
        text-align: left;
      }
    }

    .stats {
      color: $white;
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 1.125rem;

      @media screen and (min-width: $breakpoint) {
        font-size: 1.25rem;
      }
    }

    .statsParagraph {
      color: $slightlyTransparentWhite;
      font-family: "Lexend Deca", sans-serif;
      font-weight: 400;
      font-size: 0.75rem;
      text-transform: uppercase;
      padding-top: 0.75rem;
      padding-bottom: 2.25rem;

      @media screen and (min-width: $breakpoint) {
        font-size: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0;
      }
    }
  }
}
